S153 DIALOG LOADONCALL MOVEABLE DISCARDABLE 18, 15, 360, 211
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Datos Adicionales"
FONT 8, "MS Sans Serif"
{
 LTEXT "N\xBA Planilla", -1, 12, 7, 60, 8
 LTEXT "Fecha", -1, 12, 19, 60, 8
 LTEXT "Hecho por", -1, 12, 31, 44, 8
 LTEXT "Recepcionado por", -1, 12, 43, 60, 8
 LTEXT "Observacion N\xBA 1", -1, 12, 55, 60, 8
 LTEXT "Observacion N\xBA 2", -1, 12, 67, 60, 8
 LTEXT "Observacion N\xBA 3", -1, 12, 79, 60, 8
 LTEXT "Observacion N\xBA 4", -1, 12, 91, 60, 8
 LTEXT "Observacion N\xBA 5", -1, 12, 103, 60, 8
 LTEXT "Observacion N\xBA 6", -1, 12, 115, 60, 8
 LTEXT "Contenido N\xBA 1", -1, 12, 127, 60, 8
 LTEXT "Contenido N\xBA 2", -1, 12, 139, 60, 8
 LTEXT "Contenido N\xBA 3", -1, 12, 151, 60, 8
 LTEXT "Incidencia N\xBA 1", -1, 12, 163, 60, 8
 LTEXT "Incidencia N\xBA 2", -1, 12, 175, 60, 8
 LTEXT "Incidencia N\xBA 3", -1, 12, 187, 60, 8
 EDITTEXT 101, 81, 5, 48, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 102, 81, 17, 48, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 103, 81, 29, 118, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 104, 81, 41, 118, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 105, 81, 53, 212, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 106, 81, 65, 212, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 107, 81, 77, 212, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 108, 81, 89, 212, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 109, 81, 101, 212, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 110, 81, 113, 212, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 111, 81, 125, 162, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 112, 81, 137, 162, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 113, 81, 149, 162, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 114, 81, 161, 162, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 115, 81, 173, 162, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT 116, 81, 185, 162, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "&Aceptar", 117, 303, 7, 50, 14
 PUSHBUTTON "&Cancelar", 118, 303, 22, 50, 14
 EDITTEXT 119, 215, 17, 48, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Recep.documento", -1, 153, 19, 59, 8
}
